<ion-header>

  <ion-navbar>
    <ion-title>All Contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-top>

  <ion-searchbar (ionInput)="getContacts($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding #sliding *ngFor="let c of _contactEntries">
      <ion-item (click)="callNumber(c)">
        <ion-avatar item-start>
          <img [src]="c.avatar">
        </ion-avatar>
        <h2>{{ c.contactName }}</h2> 
        <p>{{ c.phoneNumber }}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="goToEditForm(c)">
            <ion-icon name="create"></ion-icon>
            <span> Edit </span>
        </button>
        <button ion-button color="danger" (click)="delete(c)">
            <ion-icon name="trash"></ion-icon>
            <span>Delete</span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
      <button ion-fab (click)="goToCreateForm('New Contact')" color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>