<ion-header>

    <ion-navbar>
      <ion-title>My Phonebooks</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding-top>


      <ion-refresher (ionRefresh)="loadPhonebooks($event)">
          <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
        </ion-refresher>

    <ion-searchbar (ionInput)="getPhonebook($event)"></ion-searchbar>
    <ion-list>
      <ion-item-sliding #sliding *ngFor="let p of _phonebooks">
        <ion-item (click)="goToContacts(p)">
          <ion-avatar item-start>
            <img [src]="p.avatar">
          </ion-avatar>
          <h2>{{ p.name }}</h2>
          <p color="primary">{{ p.description }}</p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="goToEditForm(p)">
              <ion-icon name="create"></ion-icon>
              <span> Edit </span>
          </button>
          <button ion-button color="danger" (click)="delete(p)">
              <ion-icon name="trash"></ion-icon>
              <span>Delete</span>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-fab right bottom>
        <button ion-fab (click)="goToCreateForm('New Phonebook')" color="primary"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
  </ion-content>
