<!--
  Generated template for the FormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title float-left>{{ _formType }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

 

    <form name="PhonebookForm" [hidden]="_formType != 'New Phonebook' && _formType != 'Edit Phonebook'">

        <div id="logo" padding text-center>
            <img src="../../assets/imgs/PhonebookLogo.png">
          </div>
          <ion-label>Name <span class="required">*</span></ion-label>
          <ion-input type="text" name="name" [(ngModel)]="_phonebook.name"></ion-input>

          <ion-label float>Description <span class="required">*</span></ion-label>
          <ion-input type="text" name="description" [(ngModel)]="_phonebook.description"></ion-input>

        <div padding text-center>
          <button ion-button round color="primary" icon-right (click)="createPhonebook()"  [hidden]="_formType != 'New Phonebook'">
            Create Phonebook<ion-icon name="filing"></ion-icon>
          </button>
          <button ion-button round color="primary" icon-right (click)="updatePhonebook()"  [hidden]="_formType != 'Edit Phonebook'">
              Save Changes<ion-icon name="paper"></ion-icon>
            </button>
        </div>


    </form>


    <form name="NewContact" [hidden]="_formType != 'New Contact' && _formType != 'Edit Contact'">

        <div id="logo" padding text-center>
            <img src="../../assets/imgs/contact.png">
          </div>

          <ion-list>
              <ion-item class="dropdown" >
                  <ion-label text-left>Select Phonebook <span class="required">*</span></ion-label>
                <ion-select name="phonebookSelect" (ionInput)="getPhonebooks($event)" [(ngModel)]="_contact.phonebookId">
                  <ion-option text-left *ngFor="let p of _phonebooks" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-list>

          <ion-label>Name <span class="required">*</span></ion-label>
          <ion-input type="text" name="contactName" [(ngModel)]="_contact.contactName"></ion-input>

          <ion-label float>Phone Number <span class="required">*</span></ion-label>
          <input type="tel" [textMask]="{mask: masks.phoneNumber}" text-center name="contactNumber" [(ngModel)]="_contact.phoneNumber">

         

        <div padding text-center>
          <button ion-button round color="primary" icon-right (click)="createContact()" [hidden]="_formType != 'New Contact'">
            Create Contact<ion-icon name="filing"></ion-icon>
          </button>
          <button ion-button round color="primary" icon-right (click)="updateContact()"  [hidden]="_formType != 'Edit Contact'">
            Save Changes<ion-icon name="paper"></ion-icon>
          </button>
        </div>


    </form>


</ion-content>
