page-form {
    div#logo {
        margin-top: 10px;
        margin-bottom: 12px;
      }
      .content {
        background-color: rgba(255, 193, 193, 0.623);
      }
      .item {
        background-color: color($colors, primary);
      }
    
      .input-cover { position: static; }

      img{
        width: 50%;
      }

      ion-label {
        color: #5d5d5d;
        text-align: center;
        margin: 0;
      }
    
      .label {
        margin: 0 0 5px 0;
      }
    
      ion-input {
        background-color: #fff;
        border-radius: 500px;
        margin: 0 0 20px 0;
        padding: 0 10px 0 10px;
        font-size: 1.0em;
        
      }

      input {
        background-color: #fff;
        border-width: 0;
        border-radius: 500px;
        margin: 0 0 20px 0;
        width: 100%;
        padding: 15px;
        font-size: 1.0em;
        text-align: left !important;
      }

      .dropdown{
        background-color: #fff;
        border-radius: 500px;
        margin: 0 0 20px 0;
        padding: 5px 10px 0 8px;
        font-size: 1.2em;
      }

      .required{
        color: red;
      }
}
