<ion-header>
    <ion-navbar>
      <ion-title>
        About
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-list-header text-center>Arnold Hendricks, BBD</ion-list-header>
      <img src="../../assets/imgs/ABSA.png">
      <ion-item>
         
        <ion-icon name="ionic" item-start></ion-icon>
        @ionicframework, ABSA Assessment
      </ion-item>
    </ion-list>
  </ion-content>
