<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Phonebooks" (ionSelect)="setType()" tabIcon="bookmarks"></ion-tab>
  <ion-tab [root]="tab2Root" [rootParams]="tab2Params" (ionSelect)="setType()" tabTitle="All Contacts" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" (ionSelect)="setType()" tabIcon="information-circle"></ion-tab>
</ion-tabs>
